.slide {
  transition: all;
}
.slide.show {
  right: -275px;
  animation: slidein 300ms ease forwards;
}

@keyframes slidein {
  0% {
    /* transform: translateX(50); */
  }
  100% {
    transform: translateX(-100%);
  }
}
